.main-container {
  position: relative;
}

.card {
  width: 600px;
  height: 335px;
  background: #080808;
  border-radius: 13px;
}

@media (max-width: 1000px) {
  .card {
    width: 60%;
    height: auto;
    padding-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .card {
    width: 80%;
    height: auto;
  }
}
